@page "/formulario"
@inject HttpClient HttpClient

<PageTitle>Formulario</PageTitle>

<h1>Formulario</h1>

@foreach (var pregunta in preguntas)
{
    <EditForm Model="@pregunta">
        <p>@pregunta.Texto</p>
        <InputText @bind-Value="@pregunta.Respuesta" name="@pregunta.Nombre" />
    </EditForm>
}

<button type="submit" @onclick="enviarRespuestas">Enviar</button>


@code {
    public class Pregunta
    {
        public string? Nombre { get; set; }
        public string? Texto { get; set; }
        public string? Respuesta { get; set; }

    }

    public List<Pregunta> preguntas = new List<Pregunta>()
    {
        new Pregunta() { Nombre = "Nombre", Texto = "¿Cuál es tu nombre?" },
        new Pregunta() { Nombre = "Apellido", Texto = "¿Cuál es tu apellido?" },
    };

    private async Task enviarRespuestas()
    {
        // Crear un diccionario para almacenar las respuestas
        Dictionary<string, string> respuestas = new Dictionary<string, string>();

        // Llenar el diccionario con los datos del formulario
        foreach (var pregunta in preguntas)
        {
            respuestas.Add(pregunta.Nombre, pregunta.Respuesta);
        }

        // Enviar las respuestas al servidor Flask en Python
        var response = await HttpClient.PostAsJsonAsync("http://127.0.0.1:5000/", respuestas);
        
        if (response.IsSuccessStatusCode)
        {
            // Manejar el éxito de la solicitud
        }
        else
        {
            // Manejar el error de la solicitud
        }
    }

}

