@page "/Perfil"
@inject NotificationService NotificationService

<head>
    <link rel="stylesheet" href="css/DiandaStyle.css" />
</head>

<div style="display: flex; justify-content: center; align-items: center; height: 50vw; max-width: 90%; width:auto; ">
    <Prueba_Blazor_2.Componentes.CardPerfil />
</div>

<Prueba_Blazor_2.Componentes.CardPerfil />
@code {
    
}
