@inherits LayoutComponentBase
@inject NavigationManager NavigationManager
@using Blazored.Toast.Configuration

<div class="page">
    @if (!EsPaginaLogin(NavigationManager.Uri))
    {
        <div class="sidebar">
            <NavMenu />
        </div>
    }
    
    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<BlazoredToasts Position="ToastPosition.BottomRight"
                Timeout="10"
                IconType="IconType.FontAwesome"
                SuccessClass="success-toast-override"
                SuccessIcon="fa fa-thumbs-up"
                ErrorIcon="fa fa-bug" />

@code {
    private bool EsPaginaLogin(string uri)
    {
        // Comprueba si la URL actual corresponde a la página de login
        return uri.Contains("/Registro") || uri.Contains("/RecuperarContra") || uri.Contains("/Login");
    }
}

