@page "/RecuperarContra"
@inject NavigationManager NavigationManager

<style>
    body{
        background-color: #2d3250;
    }
    .fondo {
        background-color: #ffffff;
    }
    .contenedor {
    text-align: center;
    padding: 20px;
    border-radius: 15px; /* Ajusta el valor según el grado de redondeo que desees */
    background-color: #424769; /* Color de fondo del contenedor */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    .centered-column {
    display: flex;
    justify-content: center;
    align-items: center;
    }
    .edit-login {
    padding: 1rem;
    }

</style>

<div class="text-center">
  <RadzenImage src="images/robot.png" Style="width: 300px; height: 300px;" />
</div>

<div class="d-flex justify-content-center align-items-center" style="width: 100%; height: 55vh;">
  <div class="container">
      <div class="row">
          <div class="col">
            <div class="contenedor">
                <RadzenCard>
                  <RadzenText class="mb-3" TextStyle="TextStyle.H4" Style="color: #000000;">Te enviaremos un correo para restablecer tu contraseña ;)</RadzenText>
                  <div class="mb-3">
                    <RadzenTextBox  Text="@email" Placeholder="Introduce tu correo electrónico" />
                    <RadzenButton class="mb-3" Text="Enviar" Click="@OnSubmit" />
                    <RadzenLabel Visible="@success">Se ha enviado un correo electrónico con instrucciones para restablecer tu contraseña.</RadzenLabel>
                    <RadzenLabel Visible="@error">Ha ocurrido un error al enviar el correo electrónico.</RadzenLabel>
                  </div>
                  
                </RadzenCard>
            </div>
          </div>
      </div>
  </div>
</div>

@code {
  string email;
  bool success;
  bool error;

  async void OnSubmit()
  {
    // logica de enviar correo
  }
}