/*Seccion Pages y Login*/
body{
    background-color: #2d3250;
}
.fondodepantalla {
    background-color: #2d3250;
}
.contenedor {
text-align: center;
padding: 20px;
border-radius: 15px; /* Ajusta el valor según el grado de redondeo que desees */
background-color: #424769; /* Color de fondo del contenedor */
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.centered-column {
display: flex;
justify-content: center;
align-items: center;
}

.card-container {
display: flex; /* Enable flexbox layout */
}

/*Extras Login*/
.fondo {
background-color: #ffffff;
}
.edit-login {
padding: 1rem;
}
.edit-form {
padding: 1rem;
background-color: white;
}